.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 103vh; /* Ensure the container takes up at least the full viewport height */
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.image-container {
  display: none; /* Hide the image container */
}

.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.signIn .form {
  background: linear-gradient(to right, rgb(245, 157, 34), rgb(17, 34, 58));
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%; /* Adjust the maximum width as needed */
  text-align: center;
  margin-bottom: 40px;
  margin-left: 30px;
  box-shadow: 0 0 30px rgb(93, 112, 167);

}
.label-color {
  color: #101010; 
  font-size: 18px;/* Specify the color you want */
}

.heading {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
  color: aliceblue;
}

.heading1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  color: aliceblue;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #191919;
  border-radius: 6px;
  box-sizing: border-box;
}

.bi {
  background-color: #071423;
  opacity: 0.8;
  color: rgb(233, 227, 227);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f57b17;
}

p {
  font-size: 14px;
  color: #080707;
}

.or {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
