/* Readstyle.css */

.cia {
  background-image: url("../pictures/c52.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.mys-search-input {
  width: 150px; /* Adjust the width as needed */
  padding: 10px;
  border: 5px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px auto;
  margin-left: 350px;
}

.mys-custom-container {
  max-width: 900px;
  color: blue;
  margin: 0 auto;
  margin-left: 300px;
}

.record-container {
  display: flex;
  flex-wrap: wrap;
  gap: 106px;
  margin-top: 20px;
}

.record-box {
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.record-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.buttons-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.mys-edit-btn,
.mys-delete-btn {
  width: 48%;
}

.details-section {
  background-color: #5e5c5b; /* Add background color to this section */
  padding: 20px; /* Add padding to create space around the details */
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

@media (max-width: 1200px) {
  .record-box {
    width: 33.33%;
  }
}

@media (max-width: 800px) {
  .record-box {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .record-box {
    width: 100%;
  }
}
